/* * {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', 'sans-serif'; */

body {
  width: 100%;
  /* text-align: center; */
}

.header {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  height: 70vh;
  background-image: url("../images/newspaper.jpg");
  background-color: #cccccc;
}

h4 {
  text-align: center;
  color: black;
  font-size: 40px;
  padding: 20px;
}

#scrape, #display {
  display: inline-block;
  text-align: right;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* .nav-img {
  height: 50px;
  margin-left: 10px;
}

#nav-mobile li {
  margin: auto;
} */